@import "config";
@import "utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: 1rem;
  line-height: 1.6;
  @include set-background($dark_color);
}

a {
  text-decoration: none;
  color: $primary_color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.filter-menu {
  max-width: 1500px;
  margin: auto;
  justify-content: space-evenly;

  li {
    margin-top: 0.05rem;
    max-width: 15rem;
    width: 100%;
    box-shadow: 10px 10px 5px #05050587;
  }
}

.cover {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3%;
  grid-row-gap: 1.5rem;

  .movie-card {
    height: 500px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 4fr 0.75fr 0.25fr;
    align-items: center;
    color: $light_color;
    text-align: center;

    &:hover {
      background-color: #fbeccb10;
      transition: 0.75s ease-in-out;
    }

    .year-rating-bar {
      display: flex;
      justify-content: space-between;
      font-weight: 200;
    }

    h3 {
      font-weight: 500;
    }
  }
}

.dropdown {
  position: relative;
  padding: 0.5rem 0;
  li {
    display: none;
  }

  &:hover {
    ul {
      position: absolute;
    }
    li {
      display: block;
    }
  }
}

h1 {
  text-align: center;
}

.single-movie-holder {
  width: 95%;
  margin: auto;
  padding: 2rem;

  .media {
    height: 80vh;
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    @include set-background(#fbeccb10);

    #activeImg {
      background-size: contain;
    }
    .gallery {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
      width: 90%;
      height: 100%;
      margin: auto;
    }
  }

  .info {
    @include set-background($light_color);
    width: 100%;
    padding: 1rem 2rem;
  }
}
